body {
    background-color: royalblue;
    background-image: url("Uhuru-Kenyatta-meme-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
}

.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    color: tan;
}

#day, #hour, #minute, #second {
    padding: 10px;
}